<div class="row">

    {{#if cards}}
    <div class="col-md-4 status-cards-outer-div pb-4">
        <div class="card border-0 rounded h-100" style="background-color:#f4f5f7">
            <div class="card-header status-title" style="background-color:#343A40; color:white">
                <h5>POR HACER</h5>
            </div>
            <div class="card-body status-card-inner-div rounded" >
                {{#each cards}}
                    {{#ifEquals status "Por hacer"}}
                        {{> card}}
                    {{/ifEquals}} 
                {{/each}}
            </div>
        </div>
    </div>

    <div class="col-md-4 status-cards-outer-div pb-4">
        <div class="card border-0 rounded h-100" style="background-color:#f4f5f7">
            <div class="card-header" style="background-color:#343A40; color:white">
                <h5>EN CURSO</h5>
            </div>
            <div class="card-body status-card-inner-div">
                {{#each cards}}
                    {{#ifEquals status "En curso"}}
                        {{> card}}
                    {{/ifEquals}} 
                {{/each}}
            </div>
        </div>
    </div>

    <div class="col-md-4 status-cards-outer-div pb-4">
        <div class="card border-0 rounded h-100" style="background-color:#f4f5f7">
            <div class="card-header" style="background-color:#343A40; color:white">
                <h5>TERMINADO</h5>
            </div>
            <div class="card-body status-card-inner-div">
                {{#each cards}}
                    {{#ifEquals status "Terminado"}}
                        {{> card}}
                    {{/ifEquals}} 
                {{/each}}
            </div>
        </div>
    </div>

    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <p class="lead">
                Aún no hay tareas creadas
            </p>
            <a href="/cards/add" class="btn btn-success btn-block">¡Crea una!</a>
        </div>
    </div>
    {{/if}}
    
</div>
{{#if cards}}
    <div class="d-flex justify-content-center p-3" >       
            <a href="/cards/add" class="btn btn-dark" style="width:180px !important;">Crear una tarea</a>
    </div>
{{/if}}