<div class="row">

    {{#if cards}}
    <div class="col-md-4 status-cards-outer-div pb-4">
        <div class="card border-0 rounded h-100" style="background-color:#343A40">
            <div class="card-header" style="background-color:#e3c87d">
                <h4>Por hacer</h4>
            </div>
            <div class="card-body status-card-inner-div rounded" >
                {{#each cards}}
                    {{#ifEquals status "Por hacer"}}
                        {{> card}}
                    {{/ifEquals}} 
                {{/each}}
            </div>
        </div>
    </div>

    <div class="col-md-4 status-cards-outer-div pb-4">
        <div class="card border-0 rounded h-100" style="background-color:#343A40">
            <div class="card-header" style="background-color: #ece67f">
                <h4>En proceso</h4>
            </div>
            <div class="card-body status-card-inner-div">
                {{#each cards}}
                    {{#ifEquals status "En proceso"}}
                        {{> card}}
                    {{/ifEquals}} 
                {{/each}}
            </div>
        </div>
    </div>

    <div class="col-md-4 status-cards-outer-div pb-4">
        <div class="card border-0 rounded h-100" style="background-color:#343A40">
            <div class="card-header" style="background-color:rgb(198, 237, 146)">
                <h4>Terminado</h4>
            </div>
            <div class="card-body status-card-inner-div">
                {{#each cards}}
                    {{#ifEquals status "Terminado"}}
                        {{> card}}
                    {{/ifEquals}} 
                {{/each}}
            </div>
        </div>
    </div>

    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <p class="lead">
                Aún no hay tareas creadas
            </p>
            <a href="/cards/add" class="btn btn-success btn-block">¡Crea una!</a>
        </div>
    </div>
    {{/if}}
    
</div>