<div class="jumbotron mt-4">
    <h1 class="display-4 text-center">TaskTracker</h1>
    <p class="lead text-center">El poder de la organización en tus manos</p>
    <hr class="my-4">
    <p>
        TaskTracker es una aplicación de organización de tareas en distintos tableros, fácil de usar y altamente efectiva para ayudarte a mantener tus objetivos organizados. 
        Con ella, puedes crear múltiples tableros para separar tus tareas en diferentes categorías, como "Por Hacer", "En Curso" y "Terminado". Además, puedes agregar 
        descripciones, prioridad y estado para cada tarea para ayudarte a mantenerte en el camino.<br><br>
        
        Para respaldar el sistema de tableros y tareas de TaskTracker, se utiliza MongoDB como base de datos, para asegurarnos de que la información de las tareas esté segura y 
        fácilmente accesible en todo momento. También se utiliza Node.js para crear una experiencia de usuario altamente intuitiva y rápida, lo que significa que no tendrás que 
        preocuparte por perder el tiempo mientras navegas por la aplicación.<br><br>

        TaskTracker es la herramienta perfecta para cualquier persona que desee mantener sus tareas organizadas, ya sea que estés estudiando para un examen, administrando un 
        proyecto o simplemente tratando de mantener su vida diaria organizada. ¡Únete a TaskTracker hoy y comienza a mantener tus tareas bajo control!<br>
    </p>
    {{#if user}}
    {{else}}
    <div class="d-flex justify-content-center p-3" >
        <a href="/users/signin" class="btn btn-dark " style="width:180px !important;">Iniciar sesión</a>
    </div>
    {{/if}}
</div>