<div class="jumbotron mt-4">
    <h1 class="display-4">TaskTracker</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur ab cum harum velit, nulla tenetur soluta placeat, vero earum ad inventore error id aut exercitationem expedita facere odio eos eligendi.</p>
    <a href="/users/signin" class="btn btn-primary btn-lg">Iniciar sesión</a>
</div>