body {
    /*background: #A1FFCE;  
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE); 
    background: linear-gradient(to right, #FAFFD1, #A1FFCE);*/
    background:white;
    /*background: #457fca; 
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);  
    background: linear-gradient(to right, #5691c8, #457fca); */ 
    /*background: #00c6ff;  
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  
    background: linear-gradient(to right, #0072ff, #00c6ff); */
    
    /*background: #1D976C;  
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C); 
    background: linear-gradient(to right, #93F9B9, #1D976C); 
*/
}

.task{
    background-color: white !important;
    border-width:10px !important    ;
    border:solid #0000;
}

.task:hover{
    background-color: #ebe765 !important;
    cursor:pointer;
}

.task-details-header{
    background-color: #ebe765 !important;
    color: black !important;
}

.task-details-body{
    background-color: #ffffb6 !important;
}

.modal-header{
    background-color: #343A40 !important;
    color:white;
}

.modal-body{
    background: #A1FFCE !important;
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE)  !important;
    background: linear-gradient(to right, #FAFFD1, #A1FFCE)  !important;
}

.modal-footer{
    background: #A1FFCE !important;
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE)  !important;
    background: linear-gradient(to right, #FAFFD1, #A1FFCE)  !important;
}

.status-cards-outer-div{
    height: 600px;
    max-height:600px; 
}
.status-card-inner-div{
    height: 100%;
    overflow-y: auto;
    padding:7px !important;
}

.card-title{
    margin:0 !important;
}

.drop-targets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 20px 0;
}

.box {
    height: 150px;
    width: 150px;
    border: solid 3px #ccc;
    margin: 10px;

    /* align items in the box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.drag-over {
    border: dashed 3px red;
}

.item {
    height: 75px;
    width: 75px;
    background-color: #F0DB4F;

}

.hide {
    display: none;
}

.priority-icon{
    width:25px;
    height:25px;
}

.edit-or-delete-icon{
    color:black;
}

.close-light{
    color:white !important;
}

.form-task-header{

    background-color: #ebe765 !important;
}

.form-task-body{
    background-color: #ffffb6 !important;
}

.btn-primary{
    background-color: #ebe765 !important;
    border-color: #ebe765 !important;
    color: black !important;
}